body{
    background-color:#0a192f;
    color:#ccd6f6;
    font-family:Arial;
    margin:0;
}

nav{
    display:flex;
    justify-content:space-between;
    padding:20px;
}

nav ul{
    display:flex;
    list-style:none;
}

nav li{
    margin-left:20px;
}

.hero{
    height:80vh;
    padding:100px;
}

.hero h1{
    font-size:60px;
}

.project{
    border:1px solid #233554;
    padding:20px;
    margin:20px;
}
